<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <div class="container">
      <p>Greetings, traveler. You stand at the threshold of greatness. If you desire to test your mettle and login credentials, clic&zwnj;k below. Only the most worthy shall be granted entrance. Prepare yourself.</p>
      <form class="login" action="/login" method="get">
        <input class="submit" type="submit" name="submit" value="I am ready.">
      </form>
    </div>
  </body>
</html>
